#container {
  height: 75vh;
  width: 75vw;
  background-color: aqua;
  display: flex;
  flex-direction: row-reverse;
}

#container div {
  height: 200px;
  width: 200px;
}
#div1 {
  background-color: azure;
  order: 1;
}
#div2 {
  background-color: violet;
}
#div3 {
  background-color: yellow;
  order: 5;
}
#div4 {
  background-color: yellowgreen;
  order: -5;
}
